body {
    font-family: 'Old Standard TT', serif;
}

body.code,
.section {
    text-align: center;
    color: #666;
}


/* input[type="text"] {
    border: none;
    height: 40px;
    width: 10%;
    font-size: 2em;
    color: #666;
} */

.large {
    font-size: 6em;
}

.medium {
    font-size: 3em;
}

.small-point {
    font-size: 2.1em;
}

.small {
    font-size: 2em;
}

.small-schedule {
    font-size: 1.4em;
}

@media screen and (min-width: 1300px) {
    .small-schedule {
        font-size: 2em;
    }
}

.smaller-than-small {
    font-size: 1.5em;
}

.tiny-point {
    font-size: 1.1em;
}

.tiny {
    font-size: 1em;
}

.nano {
    font-size: 0.5em;
}

.error {
    font-size: 1em;
    color: #FF0000;
    display: none;
}

.instructions {
    position: absolute;
    bottom: 10px;
    right: 60px;
}

.arrow {
    border: solid #666;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

.arrowDown {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrowUp {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow-wrapper-bottom {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}

.arrow-wrapper-top {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

#arrowDown {
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-iteration-count: 5.01;
    -webkit-animation-iteration-count: 5.01;
}

.inline {
    display: inline;
}

.inline-flex {
    display: inline-flex;
}

.hidden {
    display: none;
}

.hotel-img {
    width: 25%;
}

.two-columns {
    display: flex;
    align-items: center;
}

.left-col {
    flex: 0 0 50%;
}

.right-col {
    flex: 1;
}

.three-columns {
    display: flex;
}

.first-col {
    flex: 0 0 33%;
}

.second-col {
    flex: 1;
}

.third-col {
    flex: 1;
}

.google-maps {
    position: relative;
    padding-bottom: 65%;
    height: 0;
    overflow: hidden;
    width: 88%;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.text-field {
    -webkit-appearance: none;
    width: 30%;
    font-size: 1.5em;
    color: #666;
    background: transparent;
    border: none;
    border-bottom: 1px solid #666;
    margin-bottom: 1%;
    font-family: 'Old Standard TT', serif;
}

.text-field.short {
    width: 125px;
}

textarea {
    resize: none;
}

.text-field:focus {
    outline: none;
    border-bottom: 2px solid #666;
}

input[type='submit'] {
    -webkit-appearance: none;
    height: 1.5em;
    min-width: 3em;
    color: #666;
    font-family: 'Old Standard TT', serif;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid #999;
    background-color: #ccc;
    text-align: center;
    line-height: 1.5em;
    cursor: pointer;
}

.fp-slidesNav ul li a span {
    background: #666
}

.spacer {
    padding-bottom: 10px;
}

.gifts {
    display: -webkit-flex;
    display: flex;
}

.gift-methods {
    width: 50%;
    padding: 10px;
}

.list {
    text-align: right;
    border-right: thin solid #666;
}

.money {
    text-align: left;
}

a,
a:visited,
a:hover,
a:focus {
    color: #666;
}

.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent #666;
}

.fp-controlArrow.fp-prev {
    border-color: transparent #666 transparent transparent;
}